In [11]:
import opendatasets as od
import pandas as pd
import numpy as np

# going to make our full data into a function
def full_data():
    dat=od.download("https://www.kaggle.com/pavan9065/coronavirus-covid19-vaccinations")
    df = pd.read_csv('coronavirus-covid19-vaccinations/vaccine-data.csv', engine = 'python', sep='\s*,\s*')
    return df
#df # full data set
df = full_data();
df

Skipping, found downloaded files in "./coronavirus-covid19-vaccinations" (use force=True to force download)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119449,ZWE,Africa,Zimbabwe,2021-09-22,128804.0,618.0,245.857,4592.0,23.0,5.857,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN
119450,ZWE,Africa,Zimbabwe,2021-09-23,129134.0,330.0,252.286,4600.0,8.0,5.714,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN
119451,ZWE,Africa,Zimbabwe,2021-09-24,129134.0,0.0,214.571,4600.0,0.0,5.429,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN
119452,ZWE,Africa,Zimbabwe,2021-09-25,129505.0,371.0,252.286,4603.0,3.0,5.714,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN
119453,ZWE,Africa,Zimbabwe,2021-09-26,129625.0,120.0,241.000,4604.0,1.0,5.286,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN

In [6]:
df_usa = df[df['location'].str.contains('United States')]
df_usa # just the USA

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality
113204,USA,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113205,USA,North America,United States,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113206,USA,North America,United States,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113207,USA,North America,United States,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113208,USA,North America,United States,2020-01-26,5.0,3.0,NaN,NaN,NaN,NaN,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,-9155.2,-3.68,-3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113813,USA,North America,United States,2021-09-22,42549513.0,132389.0,130187.000,681416.0,2785.0,2034.714,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113814,USA,North America,United States,2021-09-23,42675416.0,125903.0,126043.286,684573.0,3157.0,1996.571,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113815,USA,North America,United States,2021-09-24,42852871.0,177455.0,121681.429,687084.0,2511.0,2016.429,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113816,USA,North America,United States,2021-09-25,42900402.0,47531.0,120370.143,687746.0,662.0,1990.857,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN
113817,USA,North America,United States,2021-09-26,42931354.0,30952.0,119597.857,688032.0,286.0,1987.286,...,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN

In [13]:
df_usa = df_usa.filter(['location','date','total_cases','new_cases','total_deaths','new_deaths'])
df_usa = df_usa.replace(np.nan,0) # only show data we want, replace NaN's with 0 
df_usa

,location,date,total_cases,new_cases,total_deaths,new_deaths
113204,United States,2020-01-22,1.0,0.0,0.0,0.0
113205,United States,2020-01-23,1.0,0.0,0.0,0.0
113206,United States,2020-01-24,2.0,1.0,0.0,0.0
113207,United States,2020-01-25,2.0,0.0,0.0,0.0
113208,United States,2020-01-26,5.0,3.0,0.0,0.0
...,...,...,...,...,...,...
113813,United States,2021-09-22,42549513.0,132389.0,681416.0,2785.0
113814,United States,2021-09-23,42675416.0,125903.0,684573.0,3157.0
113815,United States,2021-09-24,42852871.0,177455.0,687084.0,2511.0
113816,United States,2021-09-25,42900402.0,47531.0,687746.0,662.0
113817,United States,2021-09-26,42931354.0,30952.0,688032.0,286.0

In [1]:
#df_subset1 = pd.read_csv('covid_cases_usa.csv', engine = 'python', sep='\s*,\s*') # was trying to show new csv file#

In [100]:
#df_usa.to_csv('covid_cases_usa.csv', sep = ',') # convert data subset to .csv

NameError: name 'df_subset1' is not defined